* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}
.project {
  overflow: hidden;
}
.project .projectbody {
  width: 70%;
  margin: auto;
}
.project .projectbody .txt {
  text-align: center;
}
.txt h2 {
  font-size: 5rem;
  margin-bottom: 6rem;
  color: #37517e;

  position: relative;
}
.txt h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 8rem;
  width: 50rem;
  height: 0.3rem;
  background: #47b2e4;
  transform: translateX(-50%);
}
.txt h2::after {
  content: "Projects";
  position: absolute;
  bottom: -2.9rem;
  /* top: 8rem; */
  left: 50%;
  font-size: 2rem;
  padding: 0.5rem;
  color: crimson;
  background-color: white;
  transform: translateX(-50%);
}
.txt p {
  font-size: 1.9rem;
  margin-bottom: 6rem;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  height: 28rem;
  width: 45rem;
  border-radius: 3rem;
  margin-bottom: 2rem;
  position: relative;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.384);
}
.card:hover {
  cursor: pointer;
}
.cardtext1:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("https://github.com/karanjoshi1206/technoforumweb/blob/main/assets/img/projimages/wb.PNG");
  background-size: cover;
  border-radius: 3rem;
  opacity: 1;
  transition: 0.4s ease-in-out;
}
.cardtext1:hover:before {
  transition: 0.4s ease-in-out;
  opacity: 0.5;
  color: black;
}

.cardtext1 > p {
  display: none;
  bottom: 0;
}
.cardtext1 > h3 {
  display: none;
  margin-top: 2rem;
}
.cardtext1:hover > p {
  position: absolute;
  display: block;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 1;
  opacity: 0.9;
  width: 100%;
  height: 70%;
  text-align: center;
  transition: 0.4s ease-in-out;
  background-color: #37517e;
}
.cardtext1:hover > h3 {
  position: absolute;
  display: block;
  color: black;
  font-size: 3rem;
  padding-bottom: 1.9rem;
  font-family: "Quicksand", sans-serif;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.cardtext2:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("https://github.com/karanjoshi1206/technoforumweb/blob/main/assets/img/projimages/ap.jpg");
  background-size: cover;
  border-radius: 3rem;
  opacity: 1;
  transition: 0.4s ease-in-out;
}
.cardtext2:hover:before {
  transition: 0.4s ease-in-out;
  opacity: 0.5;
  color: black;
}

.cardtext2 > p {
  display: none;
  bottom: 0;
}
.cardtext2 > h3 {
  display: none;
  margin-top: 2rem;
}
.cardtext2:hover > p {
  position: absolute;
  display: block;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 1;
  opacity: 0.9;
  width: 100%;
  height: 70%;
  text-align: center;
  transition: 0.4s ease-in-out;
  background-color: #37517e;
}
.cardtext2:hover > h3 {
  position: absolute;
  display: block;
  color: black;
  font-size: 3rem;
  padding-bottom: 1.9rem;
  font-family: "Quicksand", sans-serif;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.4s ease-in-out;
}
.cardtext3:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("https://github.com/karanjoshi1206/technoforumweb/blob/main/assets/img/projimages/ai.jpg");
  background-size: cover;
  border-radius: 3rem;
  opacity: 1;
  transition: 0.4s ease-in-out;
}
.cardtext3:hover:before {
  transition: 0.4s ease-in-out;
  opacity: 0.5;
  color: black;
}

.cardtext3 > p {
  display: none;
  bottom: 0;
}
.cardtext3 > h3 {
  display: none;
  margin-top: 2rem;
}
.cardtext3:hover > p {
  position: absolute;
  display: block;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 1;
  opacity: 0.9;
  width: 100%;
  height: 70%;
  text-align: center;
  transition: 0.4s ease-in-out;
  background-color: #37517e;
}
.cardtext3:hover > h3 {
  position: absolute;
  display: block;
  color: black;
  font-size: 3rem;
  padding-bottom: 1.9rem;
  font-family: "Quicksand", sans-serif;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.4s ease-in-out;
}
.cardtext4:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("https://github.com/karanjoshi1206/technoforumweb/blob/main/assets/img/projimages/code.jpg");
  border-radius: 3rem;
  background-size: cover;
  opacity: 1;
  transition: 0.4s ease-in-out;
}
.cardtext4:hover:before {
  transition: 0.4s ease-in-out;
  opacity: 0.5;
  color: black;
}

.cardtext4 > p {
  display: none;
  bottom: 0;
}
.cardtext4 > h3 {
  display: none;
  margin-top: 2rem;
}
.cardtext4:hover > p {
  position: absolute;
  display: block;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 1;
  opacity: 0.9;
  width: 100%;
  height: 70%;
  text-align: center;
  transition: 0.4s ease-in-out;
  background-color: #37517e;
}
.cardtext4:hover > h3 {
  position: absolute;
  display: block;
  color: black;
  font-size: 3rem;
  padding-bottom: 1.9rem;
  font-family: "Quicksand", sans-serif;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.cardtext5:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("https://github.com/karanjoshi1206/technoforumweb/blob/main/assets/img/projimages/robo.jpg");
  border-radius: 3rem;
  background-size: cover;
  opacity: 1;
  transition: 0.4s ease-in-out;
}
.cardtext5:hover:before {
  transition: 0.4s ease-in-out;
  opacity: 0.5;
  color: black;
}

.cardtext5 > p {
  display: none;
  bottom: 0;
}
.cardtext5 > h3 {
  display: none;
  margin-top: 2rem;
}
.cardtext5:hover > p {
  position: absolute;
  display: block;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 1;
  opacity: 0.9;
  width: 100%;
  height: 70%;
  text-align: center;
  transition: 0.4s ease-in-out;
  background-color: #37517e;
}
.cardtext5:hover > h3 {
  position: absolute;
  display: block;
  color: black;
  font-size: 3rem;
  padding-bottom: 1.9rem;
  font-family: "Quicksand", sans-serif;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.cardtext6:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("https://github.com/karanjoshi1206/technoforumweb/blob/main/assets/img/projimages/ml.png");
  border-radius: 3rem;
  background-size: cover;
  opacity: 1;
  transition: 0.4s ease-in-out;
}
.cardtext6:hover:before {
  transition: 0.4s ease-in-out;
  opacity: 0.5;
  color: black;
}

.cardtext6 > p {
  display: none;
  bottom: 0;
}
.cardtext6 > h3 {
  display: none;
  margin-top: 2rem;
}
.cardtext6:hover > p {
  position: absolute;
  display: block;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 1;
  opacity: 0.9;
  width: 100%;
  height: 70%;
  text-align: center;
  transition: 0.4s ease-in-out;
  background-color: #37517e;
}
.cardtext6:hover > h3 {
  position: absolute;
  display: block;
  color: black;
  font-size: 3rem;
  padding-bottom: 1.9rem;
  font-family: "Quicksand", sans-serif;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.btn {
  height: 3rem;
  width: 10rem;
  border-radius: 3rem;
  margin: -1rem 0;
  outline: none;
  border: 0.2rem solid white;
  color: white;
  font-family: "Ubuntu", sans-serif;
  background-color: transparent;
}
.btn:hover {
  cursor: pointer;
  background-color: #47b2e4;
}

@media (max-width: 816px) {
  .txt h2::before {
    top: 14rem;
  }
}
@media (max-width: 790px) {
  html {
    font-size: 53%;
  }
}
@media (max-width: 788px) {
  .txt h2::before {
    top: 7.5rem;
  }
}

@media (max-width: 560px) {
  .txt h2::before {
    top: 13.8rem;
  }
}
@media (max-width: 460px) {
  html {
    font-size: 45%;
  }

  body {
    padding: 0 2rem;
  }
}
@media (max-width: 360px) {
  html {
    font-size: 45%;
  }
  .txt h2 {
    font-size: 3rem;
  }
  .txt h2::before {
    top: 8.3rem;
  }
}
