*
{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
}
.container-box
{
    padding:50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.basic-info>:nth-child(1)
{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px !important;
}
.basic-info>:nth-child(2)
{
    color: #5a5a5a;
    text-align: center;
    font-weight: lighter;
    padding: 3px 10px;
    margin: 10px;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0px;
    align-items: center;
    justify-content: center;
}
.card
{
    width:222px;
    height:62px;
    padding:5px;
    margin: 2px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #80808040 solid;
    border-radius: 3px;
    transition: 0.2s ease-in;
}
.contact
{
    display: none;
}
.contact img
{
    width: 50px;
    height: 50px;
}
.card:hover
{
    flex-direction: column;
    background: #00000017;
    align-items: center;
    justify-content: center;
    height:250px;
}
.card:hover .contact
{
    display: flex;
    flex-direction: row;
    
}
.card:hover .contact img
{
    border-radius: 50%;
}
.card:hover .info{
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.card:hover .profile
{
    width: 50%;
}
.card:hover .profile img
{
    height: 100px;
    width:100px;
}
.profile
{
    width:30%;
    position: relative;
    margin: 3px 7px;
    padding: 3px;
}
.profile img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.info
{
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 2px;
}
.name
{
    font-weight: bold;
}
.pos
{
    color: grey;
    margin:2px 0px;
}
p
{
    margin:0 0 0px !important;
}
