*
{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#444444
}
a{
    text-decoration: none;
}
.container-box
{
    padding:25px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.basic-info>:nth-child(1)
{
    color: #37517e;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px !important;
}
.basic-info>:nth-child(2)
{
    color: #444444;
    text-align: center;
    font-weight: lighter;
    padding: 3px 10px;
    margin: 10px;
}
.info>:last-child
{
    margin: 10px 0 0 0 !important;
    font-size: 14px;
}
.card:hover .info>:last-child
{
    text-align: center;
}
.cards
{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0px;
    align-items: center;
    justify-content: center;
}
.card
{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    width:340px;
    height:182px;
    padding:5px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px #80808040 solid;
    border-radius: 5px;
    transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1) !important;
}
.contact
{
    transition: 5s ease-in;
    display: none;
}
.card:hover
{
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:325px;
}
.card:hover .contact
{
    display: flex;
    flex-direction: row;
}
.card:hover .info{
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.card:hover .profile
{
    width: 35%;
    align-items: center;
    justify-content: center;
}
.card:hover .profile img
{
    width:100px;
    border-radius: 50%;
}
.profile
{
    position: relative;
    left: 5px;
    margin: 3px 7px;
    padding: 3px;
}
.profile img
{
    overflow: hidden;
    width: 90px;
    border-radius: 50%;
}

.info
{
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 2px;
}
.name
{
    font-weight: bold;
    color:#37517e;
}
.pos
{
    display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}
.pos::after
{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
}
.cards:hover .info .pos::after
{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 40px;
}
p
{
    margin:0 0 0px !important;
}
.contact a:hover
{
    background: #1DA1F2;
    transform:translateY(-5px);
}
.contact a
{
    margin: 8px;
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    background: #eff2f8;
}
.contact a:hover i
{
    color:white !important;
}