* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
#nov,
#dec {
  padding: 0;
}
.heading {
  margin: 40px 0 50px 0;
  text-align: center;
  font-size: 70px;
  color: #3d4d6a;
}
.define {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 70px;
  font-size: 19px;
}
.toggles {
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
}
.selected {
  background: #3d4d6a !important;
  transform: scaleY(1.1);
}
.toggles div {
  background-color: rgb(0, 217, 255);
  color: white;
  padding: 5px 10px;
  border-radius: 7px;
  margin: 10px;
  width: 50%;
  text-align: center;
  letter-spacing: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s all ease;
}
button {
  cursor: pointer;
}
.webinar {
  display: flex;
  padding: 30px;
  margin: 40px;
  margin-top: 0;
  background: #37517e;
  border-radius: 40px;
  height: 310px;
}
.webinarimg {
  width: 100%;
  height: 100%;
}
img {
  border-radius: 30px;
  height: 270px;
  object-fit: cover;
}
.webinarcontent {
  display: inline-block;
  width: 150%;
  margin-left: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.webinarheading {
  color: rgb(0, 217, 255);
  font-size: 30px;
  text-transform: capitalize;
}
.date {
  font-style: italic;
  margin-left: 20px;
  color: ivory;
  font-size: 20px;
  font-weight: 300;
}
.subheading {
  font-size: 25px;
  text-transform: capitalize;
  color: rgb(0, 217, 255);
  font-weight: 600;
}
.subheading span {
  color: rgb(255, 51, 92);
}
.description {
  text-align: left;
}
.description a {
  color: rgb(0, 217, 255);
}
.description a:hover {
  color: rgb(41, 44, 255);
}
.watch {
  display: inline-block;
  margin-top: 20px;
  background: rgb(0, 217, 255);
  text-decoration: none;
  color: white;
  padding: 7px;
  border-radius: 10px;
  text-align: center;
  align-self: center;
  width: 100%;
  border: none 2px white;
  transition: 0.5s all ease;
}
.watch:hover {
  background: white;
  color: #37517e;
}

@media screen and (max-width: 1024px) {
  .define {
    font-size: 15px;
  }
  .toggles div {
    font-size: 20px;
    letter-spacing: 0;
    margin: 5px;
  }
  .webinar {
    flex-wrap: wrap;
    padding: 15px;
    margin: 30px;
    display: flex;
    height: unset;
  }
  .webinarheading {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .webinarcontent {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .date {
    display: block;
    margin: 0;
  }
  .subheading {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
  .description {
    font-size: 15px;
  }
  .heading {
    text-align: center;
    font-size: 50px;
  }
  .webinarimg {
    height: 20%;
  }
  img {
    margin-bottom: 20px;
    height: 100%;
  }
  .watch {
    width: 80%;
  }
}
